@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
}

header .logo {
  z-index: 1;
  top: 2rem;
  position: absolute;
  left: 1.5%;
  width: 80px;
  overflow: hidden;
}
header .logo img {
  width: 100%;
}
header .menu {
  box-sizing: content-box;
  padding-inline: 1rem;
  position: fixed;
  top: 2rem;
  z-index: 12;
  right: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  animation: menuBackground ease forwards;
  animation-timeline: view();
  animation-range-start: 120vh;
  animation-range-end: 150vh;
}
header .menu p {
  letter-spacing: 0.25em;
  font-weight: 600;
  font-size: 0.9rem;
  color: #39b54a;
  transition-property: display;
  transition-duration: 10ms;
  transition-delay: 0.6s;
}
header .menu .ham-menu {
  position: relative;
  transform: translateY(-5%);
  width: 25px;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: transform 0.4s 0.8s;
}
header .menu .ham-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  color: #fff;
  background-color: #fff;
  transition-property: top, transform;
  transition-duration: 0.2s, 0.3s;
  transition-delay: 0, 0.2s;
}
header .menu .ham-menu span:first-child {
  top: 15%;
}
header .menu .ham-menu span:nth-child(2) {
  top: 50%;
  transition: none;
}
header .menu .ham-menu span:last-child {
  top: 85%;
}
header .menu .ham-menu.active span:first-child {
  transform-origin: center;
  top: 50%;
  transform: rotate(45deg);
}
header .menu .ham-menu.active span:nth-child(2) {
  visibility: hidden;
}
header .menu .ham-menu.active span:last-child {
  transform-origin: center;
  top: 50%;
  transform: rotate(-45deg);
}
header .menu .ham-menu.active:hover {
  transform: rotate(180deg);
}
header .menu.active {
  top: 2.5em;
  background-color: transparent;
}
header .menu.active p {
  display: none;
}

.offscreen-menu {
  padding-block: 2.5rem;
  padding-inline: 2rem;
  z-index: 10;
  height: 100vh;
  position: fixed;
  right: -100%;
  background-color: #000;
  width: min(300px, 70%);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.offscreen-menu h2 {
  color: #39b54a;
  font-size: 1.5rem;
  height: fit-content;
  margin: 0;
}
.offscreen-menu ul {
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}
.offscreen-menu ul li {
  cursor: pointer;
  list-style-type: none;
}
.offscreen-menu ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.1s;
}
.offscreen-menu ul li a:hover {
  color: #39b54a;
}
.offscreen-menu p {
  color: #333;
}
.offscreen-menu span {
  color: #777;
}
.offscreen-menu .socials {
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.offscreen-menu .socials i {
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}
.offscreen-menu .socials i:hover {
  color: #fff;
  transform: scale(1.1);
}

.offscreen-menu.active {
  right: 0;
}

.wrapper {
  position: relative;
  z-index: 1;
  width: 65%;
  margin: 0 auto;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: translateY(0) translateZ(0);
}

@keyframes bouncingAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(20%);
  }
  50% {
    transform: translateY(-180%);
  }
  70% {
    transform: translateY(150%);
  }
  90% {
    transform: translateY(-50%);
  }
}
h2 {
  position: relative;
}

.heading-line {
  position: absolute;
  height: 1px;
  width: 40%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 18dvh;
  background-color: rgba(255, 255, 255, 0.2274509804);
}

#hero-section {
  overflow: hidden;
  position: relative;
  height: 100dvh;
  perspective: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  gap: 50px;
}
#hero-section .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  background-image: url("../images/hero-bg.jpg.webp");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
#hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
#hero-section .wrapper {
  opacity: 0;
  transition: 3s ease;
}
#hero-section .wrapper .btn-grp {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#hero-section .wrapper .btn-grp button {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 2.125rem;
  font: inherit;
  font-size: 0.825rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: solid 2px #fff;
  transition: 0.2s;
}
#hero-section .wrapper .btn-grp button:hover {
  transform: translate(50% 50%);
  background-color: white;
  color: black;
  mix-blend-mode: screen;
}
#hero-section .show {
  opacity: 1;
  animation: SlideIn 2s ease;
}
#hero-section .scroll-down {
  animation-name: bouncingAnimation;
  animation-duration: 1.4s;
  animation-delay: 3s;
  animation-timing-function: ease;
  position: absolute;
  bottom: -10%;
  right: -20%;
  display: flex;
  gap: 10px;
}
#hero-section .scroll-down a {
  text-decoration: none;
  color: #39b54a;
  font-size: 1rem;
}
#hero-section .scroll-down i {
  transform: translateY(20%);
}
#hero-section p {
  font-size: 1.2rem;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #555;
  font-weight: 600;
  margin: 0;
}
#hero-section h1 {
  font-weight: 600;
  margin: 0;
  width: 65%;
  font-size: 3.45rem;
  line-height: 1.5em;
}
#hero-section .socials {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#hero-section .socials .social-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
#hero-section .socials .social-link i {
  cursor: pointer;
  order: 2;
  display: grid;
  place-content: center;
  border: solid white 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 1rem;
}
#hero-section .socials .social-link i:hover {
  cursor: pointer;
}
#hero-section .socials .social-link p {
  cursor: pointer;
  transform-origin: right;
  transform: rotateY(90deg);
  color: #39b54a;
  text-transform: capitalize;
  font-size: 0.75rem;
  opacity: 0;
  transition: all 0.5s;
}
#hero-section .socials .social-link i:hover + p {
  transform: rotateY(0deg);
  transform-origin: right;
  opacity: 1;
}

article {
  overflow: hidden;
}

@keyframes SlideIn {
  from {
    opacity: 0;
    transform: translateY(120%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes SlideInSpan {
  from {
    opacity: 0;
    transform: translateY(800%);
  }
  to {
    opacity: 1;
    transform: translateY(30px);
  }
}
.show {
  animation: SlideIn 2s ease forwards;
}

#section-1 {
  height: 95dvh;
  background-color: #39b54a;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#section-1 span {
  opacity: 0;
  transform: translateY(30px);
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
#section-1 .sec-1-span.show {
  opacity: 1;
  animation: SlideInSpan 2s ease forwards;
}
#section-1 h2 {
  opacity: 0;
  margin: 0;
  font-size: 5rem;
  color: #fff;
}
#section-1 p {
  opacity: 0;
  line-height: 1.5em;
  width: 80%;
  margin: auto;
  font-family: serif;
  font-size: 1.825rem;
}
#section-1 .stats {
  position: relative;
  opacity: 0;
  width: min(1500px, 100%);
  margin-top: 50px;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#section-1 .stats .stat-grp {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#section-1 .stats .stat-grp .line {
  position: absolute;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2274509804);
  height: 100%;
  left: 50%;
}
#section-1 .stats .line {
  position: absolute;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2274509804);
  height: 100%;
  left: 50%;
}
#section-1 .stats .stat {
  position: relative;
}
#section-1 .stats .stat h3 {
  color: #fff;
  font-size: 5em;
  margin: 0;
}
#section-1 .stats .stat p {
  opacity: 1;
  line-height: 1.5em;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1rem;
}

#section-2 {
  background-color: #fff;
  position: relative;
  color: #000;
}
#section-2 .wrapper {
  padding-block: 10em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#section-2 .wrapper .heading-line {
  background-color: rgba(201, 201, 201, 0.3411764706);
}
#section-2 span {
  opacity: 0;
  color: #39b54a;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  transform: translateY(20px);
}
#section-2 .sec-2-span.show {
  animation: SlideInSpan 2s ease forwards;
}
#section-2 h2 {
  opacity: 0;
  font-weight: 650;
  width: 80%;
  margin: auto;
  margin: 0;
  font-size: 2.95rem;
  text-align: center;
}
#section-2 .heading-line {
  top: 40dvh;
}
#section-2 .cols {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 10%;
}
#section-2 .cols .box {
  opacity: 0;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20% 80%;
}
#section-2 .cols .box img {
  display: block;
  width: 50px;
  height: 50px;
}
#section-2 .cols .box .deets {
  width: 100%;
}
#section-2 .cols .box .deets p {
  line-height: 1.5em;
  width: 100%;
  font-size: 1.35rem;
  font-family: serif;
  color: #666;
}
#section-2 .cols .box .deets h3 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 600;
}
#section-2 .cols .box-1 img {
  width: 70px;
  height: 70px !important;
}
#section-2 .cols .box-2 img {
  height: 60px !important;
}
#section-2 .cols .box-5 img {
  height: 60px !important;
}

@keyframes menuBackground {
  from {
    background-color: transparent;
  }
  to {
    background-color: #000;
  }
}
@keyframes slideInSpan {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
#section-3 {
  text-align: center;
}
#section-3 .box-1 {
  position: relative;
  padding-block: 150px;
  height: 60vh;
  background-color: #111;
}
#section-3 .box-1 .heading-line {
  top: 300px;
  width: 400px;
}
#section-3 .box-1 span {
  opacity: 0;
  color: #39b54a;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  font-size: 1rem;
}
#section-3 .box-1 .sec-3-span.show {
  opacity: 1;
  animation: slideInSpan 2s ease;
}
#section-3 .box-1 h2 {
  opacity: 0;
  font-size: 3rem;
  margin: auto;
  font-weight: 600;
  text-align: center;
}
#section-3 .box-2 .imgs {
  margin: auto;
  width: min(1200px, 90%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(-200px);
}
#section-3 .box-2 .imgs .col {
  position: relative;
}
#section-3 .box-2 .imgs .col img {
  width: 100%;
  position: relative;
}
#section-3 .box-2 .imgs .col img::after {
  content: "text";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
#section-3 .box-2 .imgs .col .img {
  opacity: 0;
  cursor: pointer;
  position: relative;
}
#section-3 .box-2 .imgs .col .img .overlay {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2rem 2.5rem;
}
#section-3 .box-2 .imgs .col .img .overlay .Info {
  transition: 0.5s ease;
  transform: translateY(200%);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#section-3 .box-2 .imgs .col .img .overlay .Info .name {
  font-weight: 700;
}
#section-3 .box-2 .imgs .col .img .overlay i {
  position: absolute;
  top: -2rem;
  left: 2.5rem;
  border: 1px #fff solid;
  border-radius: 50%;
  padding: 0.5rem;
  transition: 0.5s ease;
}
#section-3 .box-2 .imgs .col .img .overlay .line {
  position: absolute;
  top: -4rem;
  left: 3.5rem;
  content: "";
  height: 2rem;
  width: 1px;
  background-color: #fff;
  transition: 0.5s ease;
}
#section-3 .box-2 .imgs .col .img .overlay:hover {
  opacity: 1;
}
#section-3 .box-2 .imgs .col .img .overlay:hover .Info {
  transform: translateY(0);
}
#section-3 .box-2 .imgs .col .img .overlay:hover i {
  top: 2rem;
}
#section-3 .box-2 .imgs .col .img .overlay:hover .line {
  top: 0rem;
}

#section-4 {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  color: #000;
  padding-block: 100px;
  padding-block-end: 200px;
}
#section-4 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-4 span {
  opacity: 0;
  transform: translateY(20px);
  color: #39b54a;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
}
#section-4 .sec-4-span.show {
  animation: SlideInSpan 2s ease forwards;
}
#section-4 h2 {
  opacity: 0;
  font-size: 3rem;
  width: 75%;
  margin: auto;
  font-weight: 600;
  text-align: center;
}
#section-4 .scroll-bar {
  opacity: 0;
  overflow: hidden;
  margin: 0 auto;
  margin-block: 50px;
  margin-block-start: 100px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0));
}
#section-4 .scroll-bar i {
  position: absolute;
  right: max(18em, 100%);
  color: #666;
  animation-name: slideToLeft;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: 0.2s;
  cursor: pointer;
}
#section-4 .scroll-bar i:first-child {
  animation-delay: -13.3333333333s;
}
#section-4 .scroll-bar i:nth-child(2) {
  animation-delay: -11.6666666667s;
}
#section-4 .scroll-bar i:nth-child(3) {
  animation-delay: -10s;
}
#section-4 .scroll-bar i:nth-child(4) {
  animation-delay: -8.3333333333s;
}
#section-4 .scroll-bar i:nth-child(5) {
  animation-delay: -6.6666666667s;
}
#section-4 .scroll-bar i:nth-child(6) {
  animation-delay: -5s;
}
#section-4 .scroll-bar i:nth-child(7) {
  animation-delay: -3.3333333333s;
}
#section-4 .scroll-bar i:nth-child(8) {
  animation-delay: -1.6666666667s;
}
#section-4 .scroll-bar i:last-child() {
  animation-delay: 0s;
}
#section-4 .scroll-bar i:hover {
  color: #000;
  transform: scale(1.2);
}
#section-4 .scroll-bar:hover i {
  animation-play-state: paused !important;
}
#section-4 .test__slider {
  position: relative;
  display: flex;
  justify-content: center;
}
#section-4 .testimonials {
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  align-self: center;
  position: relative;
  margin-top: 100px;
  width: min(800px, 90%);
  display: flex;
  justify-content: space-between;
  gap: 50px;
  text-align: center;
}
#section-4 .testimonials .test {
  padding: 1rem 2.5rem;
  position: relative;
  margin: auto;
  max-width: 100%;
  max-height: 800px;
}
#section-4 .testimonials p {
  line-height: 1.5em;
  font-size: 1.75rem;
  color: #666;
}
#section-4 .testimonials .author {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-4 .testimonials .author .pfp {
  border: rgba(87, 87, 87, 0.3568627451) solid 1px;
  overflow: clip;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#section-4 .testimonials .author .pfp img {
  width: 100%;
}
#section-4 .testimonials .author span {
  opacity: 1;
}
#section-4 .testimonials .author .name {
  display: inline-block;
  text-transform: capitalize;
  color: #000;
  font-weight: 700;
  font-size: 0.975rem;
}
#section-4 .testimonials .author .status {
  margin-top: 10px;
  font-size: 0.825rem;
  display: block;
  color: #666;
  text-transform: none;
  font-weight: 400;
}
#section-4 .testimonials .test__1 {
  display: none;
  position: relative;
  left: 0%;
}
#section-4 .testimonials .test__1 .author {
  padding-bottom: 20px;
}
#section-4 .testimonials .test__2 {
  display: none;
  left: 0%;
  top: 0;
}
#section-4 .testimonials .test__3 {
  display: none;
  left: 0%;
}
#section-4 .testimonials .show {
  display: unset;
  animation: none;
}
#section-4 .test__bottom {
  position: absolute;
  width: min(800px, 90%);
  height: fit;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section-4 .test__bottom .slider {
  z-index: 10;
  transform: translateY(-2%);
  display: flex;
  border-radius: 1.25rem;
  gap: 10px;
  justify-content: center;
  color: #ccc;
  padding: 0.75rem 1.5rem;
  width: 150px;
  background-color: #666;
}
#section-4 .test__bottom .slider .circle {
  color: transparent;
  cursor: pointer;
  border: #ccc solid 1px;
  border-radius: 50%;
  height: 20px;
  aspect-ratio: 1/1;
  background-color: #ccc;
  transition: 0.2s ease;
}
#section-4 .test__bottom .slider .clicked {
  height: 20px;
  width: 40px;
  border-radius: 2rem;
  background-color: #fff;
  color: transparent;
}
#section-4 .test__bottom .arrows {
  display: flex;
  gap: 20px;
}
#section-4 .test__bottom .arrows .arrow {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
  height: 3rem;
  aspect-ratio: 1/1;
}
#section-4 .test__bottom .arrows .arrow i {
  color: #fff;
}

#section-5 {
  position: relative;
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(black, black), url("../images/section-bg-img.jpg");
  filter: greyscale(100%);
  background-size: cover;
  background-blend-mode: saturation;
  background-attachment: fixed;
}
#section-5 span {
  opacity: 0;
  color: #39b54a;
  font-weight: 700;
  letter-spacing: 0.15em;
  transform: translateY(10px);
  text-transform: uppercase;
}
#section-5 .sec-5-span.show {
  animation: SlideInSpan 2s ease forwads;
}
#section-5 h2 {
  opacity: 0;
  width: 70%;
  margin: auto;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 100px;
}
#section-5 .contact-form {
  opacity: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#section-5 .contact-form h3 {
  text-transform: uppercase;
  font-size: 1rem;
}
#section-5 .contact-form h4 {
  color: #39b54a;
  text-transform: capitalize;
}
#section-5 .contact-form .box-1 {
  padding: 3rem;
  width: 70%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
}
#section-5 .contact-form .box-1 h3 {
  margin-bottom: 80px;
}
#section-5 .contact-form .box-1 input {
  font: inherit;
  caret-color: #888;
  color: #888;
  background-color: transparent;
  border: none;
  padding: 1.5rem 0;
  border-bottom: #222 solid 1px;
  width: 100%;
  transition: 0.2s;
}
#section-5 .contact-form .box-1 textarea {
  width: 100%;
  font: inherit;
  caret-color: #888;
  color: #888;
  padding: 2rem 0;
  background-color: transparent;
  border: none;
  min-height: 200px;
  max-height: 400px;
  border-bottom: #222 solid 1px;
  margin-bottom: 30px;
  transition: 0.2s;
}
#section-5 .contact-form .box-1 textarea:focus {
  outline: none;
  border-bottom: solid #39b54a 1px;
}
#section-5 .contact-form .box-1 input:focus {
  outline: none;
  border-bottom: solid #39b54a 1px;
}
#section-5 .contact-form .box-1 button {
  font: inherit;
  color: #fff;
  background-color: #39b54a;
  border: none;
  width: 100%;
  font-size: 0.975rem;
  font-weight: 600;
  padding-block: 1.5rem;
  letter-spacing: 0.15em;
  cursor: pointer;
  transition: 0.3s;
}
#section-5 .contact-form .box-1 button:hover {
  color: rgba(0, 0, 0, 0.5);
  background-color: #57ca67;
}
#section-5 .contact-form .box-1 .input-field p {
  display: none;
}
#section-5 .contact-form .box-1 .input-field .show {
  display: block;
}
#section-5 .contact-form .box-1 .input-field .error {
  border-bottom: solid 1px #ff3a3a;
}
#section-5 .contact-form .box-2 {
  width: 30%;
  padding: 3rem 2.75rem;
  text-align: left;
  background-color: hsla(0, 0%, 7%, 0.9);
  backdrop-filter: blur(20px);
  line-height: 1.5em;
}
#section-5 .contact-form .box-2 p {
  width: 80%;
  font-size: 1rem;
  color: #666;
}
#section-5 .contact-form .box-2 .sdebox {
  margin-top: 40px;
}
#section-5 .contact-form .box-2 .side-box-1 {
  margin-top: 60px;
  line-height: 2em;
}
#section-5 .contact-form .box-2 .socials {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
#section-5 .contact-form .box-2 .socials i {
  cursor: pointer;
  transition: 0.2s;
}
#section-5 .contact-form .box-2 .socials i:hover {
  color: #39b54a;
}

#section-5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #111;
}
footer .wrapper {
  padding-block: 100px;
  padding-block-end: 50px;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
footer .wrapper .footer-box {
  width: 400px;
}
footer .wrapper .footer-box p {
  font-size: 0.95rem;
  color: #555;
  line-height: 2em;
}
footer .wrapper .box-1 h3 {
  margin: 0;
  color: #39b54a;
  font-size: 2rem;
}
footer .wrapper .box-1 p {
  padding-top: 1rem;
  width: 100%;
  font-size: 0.9rem;
}
footer .wrapper .box-2 {
  grid-column: 2;
}
footer .wrapper .box-2 h4 {
  margin: 0;
}
footer .wrapper .box-2 p {
  padding-top: 1.5rem;
}
footer .wrapper .box-2 .email-error {
  display: none;
  padding-top: 0;
  color: #ff3a3a;
  font-size: 0.825rem;
  font-weight: 600;
}
footer .wrapper .box-2 .show {
  display: block;
}
footer .wrapper .box-2 .error {
  color: #ff3a3a;
  caret-color: #ff3a3a;
}
footer .wrapper .box-2 .error:focus {
  outline: solid 1px #ff3a3a;
}
footer .wrapper .input-field {
  margin-top: 30px;
  width: 100%;
  position: relative;
}
footer .wrapper .input-field i {
  position: absolute;
  top: 50%;
  left: 2.5%;
  transform: translateY(-50%);
}
footer .wrapper .input-field input {
  padding: 1rem 3rem;
  background-color: #000;
  border: none;
  font: inherit;
  font-size: 0.95rem;
  color: #888;
  width: 63%;
}
footer .wrapper .input-field button {
  cursor: pointer;
  text-transform: uppercase;
  font: inherit;
  font-weight: 600;
  font-size: 0.825rem;
  letter-spacing: 0.15em;
  padding: 1rem 0;
  color: #fff;
  border: none;
  background-color: #39b54a;
  width: 33%;
  transition: 0.5s;
}
footer .wrapper .input-field button:hover {
  color: #111;
  background-color: #57ca67;
}
footer .footer-end {
  padding: 50px 0;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footer-end span {
  color: #555;
}
footer .footer-end .part-1 {
  position: relative;
}
footer .footer-end .part-1:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11%;
  background-color: #777;
  height: 2px;
  width: 20px;
  transform: rotate(90deg);
}

@keyframes slideToLeft {
  to {
    right: -3em;
  }
}
@media (max-width: 1300px) {
  #hero-section .wrapper p {
    font-size: 1.5rem;
  }
  #hero-section .wrapper h1 {
    width: 100%;
    font-size: 3rem;
  }
  #hero-section .btn-grp button {
    font-size: 0.5rem;
  }
  #section-1 {
    height: unset;
    padding-block-start: 2em;
  }
  #section-1 .wrapper {
    width: 90%;
  }
  #section-1 h2 {
    font-size: 3.5rem;
  }
  #section-1 .heading-line {
    top: 15dvh;
  }
  #section-1 p {
    width: 100%;
    font-size: 1.25rem;
  }
  #section-1 .stats {
    margin-block-end: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #section-1 .stats .stat-grp {
    position: relative;
    width: 80%;
    align-self: center;
  }
  #section-1 .stats .stat-grp .line {
    display: block;
    height: 90%;
  }
  #section-1 .stats .line {
    display: none;
  }
  #section-2 .wrapper {
    padding-block: 5em;
    width: 90%;
  }
  #section-2 .wrapper h2 {
    font-size: 2.75rem;
    width: 100%;
  }
  #section-2 .wrapper .heading-line {
    top: 30dvh;
  }
  #section-2 .wrapper .cols {
    margin-top: 50px;
  }
  #section-4 .wrapper {
    width: 90%;
  }
  #section-4 .wrapper h2 {
    font-size: 2.75rem;
    width: 100%;
  }
  #section-5 .wrapper {
    width: 90%;
    padding-block: 2rem;
    padding-inline: 1.5rem;
  }
  #section-5 .wrapper h2 {
    width: 90%;
  }
  #section-5 .wrapper .box-2 {
    padding-block: 2rem;
    padding-inline: 1.5rem;
  }
  #section-5 .wrapper .box-2 .side-box-1 {
    margin-top: 50px;
  }
  #section-5 .wrapper .box-2 .side-box-1 p {
    width: 100%;
  }
  #section-5 .wrapper .box-2 .side-box-3 p {
    width: 100%;
  }
  #section-5 .wrapper .box-2 .socials {
    margin-top: 40px;
  }
  footer .wrapper {
    overflow: hidden;
    width: 90%;
  }
  footer .wrapper .box-2 p {
    padding-right: 10px;
  }
}
@media (max-width: 900px) {
  #hero-section {
    text-align: center;
  }
  #hero-section .wrapper {
    width: 90%;
  }
  #hero-section .wrapper h1 {
    width: 90%;
    margin: auto;
    font-size: 2.5rem;
  }
  #hero-section .wrapper .btn-grp {
    display: flex;
    justify-content: center;
  }
  #hero-section .wrapper .scroll-down {
    right: 0;
    bottom: -40%;
  }
  #section-1 .stats {
    display: grid;
    grid-template-columns: 100%;
  }
  #section-1 .stats .stat-grp {
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
  }
  #section-1 .stats .stat-grp .stat {
    margin-top: 50px;
  }
  #section-1 .stats .stat-grp .line {
    display: none;
  }
  #section-1 .stats .stat-grp:first-child .stat:first-child {
    margin-top: 0;
  }
  #section-2 {
    height: unset;
  }
  #section-2 .wrapper h2 {
    width: 90%;
    font-size: 2.25rem;
  }
  #section-2 .wrapper .heading-line {
    top: 30dvh;
  }
  #section-2 .cols {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  #section-2 .cols .box {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  #section-2 .cols .box .deets h3 {
    margin-top: 20px;
    font-size: 2rem;
  }
  #section-2 .cols .box .deets p {
    font-size: 1.25rem;
  }
  #section-2 .cols .box img {
    width: 70px;
    height: 70px;
    align-self: center;
    margin-bottom: 20px;
  }
  #section-3 .heading-line {
    width: 80%;
  }
  #section-3 .box-1 span {
    font-size: 1.075rem;
  }
  #section-3 .box-1 h2 {
    font-size: 2.25rem;
  }
  #section-4 .wrapper h2 {
    font-size: 2rem;
  }
  #section-4 .testimonials {
    font-size: 1.5rem;
  }
  #section-5 .contact-form {
    text-align: center;
    height: unset;
    margin: auto;
    width: min(650px, 95%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #section-5 .contact-form .box-1 {
    padding: 1.5rem;
    text-align: center;
    width: 100%;
  }
  #section-5 .contact-form .box-1 h3 {
    font-size: 2rem;
  }
  #section-5 .contact-form .box-1 .input-field {
    width: 100%;
  }
  #section-5 .contact-form .box-2 {
    text-align: center;
    width: 100%;
  }
  #section-5 .contact-form .box-2 h3 {
    font-size: 2rem;
  }
  #section-5 .contact-form .box-2 p {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  footer .wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  footer .wrapper .footer-box {
    width: 100%;
  }
  footer .wrapper .footer-box p {
    font-size: 1rem;
  }
  footer .wrapper .box-2 h4 {
    font-size: 1.5rem;
  }
  footer .wrapper .box-2 p {
    font-size: 1rem;
  }
  footer .wrapper .input-field {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  footer .wrapper .input-field input {
    width: 100%;
  }
  footer .wrapper .input-field i {
    top: 1.65rem;
    left: 1rem;
  }
  footer .wrapper .input-field button {
    margin-top: 20px;
    width: 100%;
  }
  footer .footer-end {
    width: 100%;
  }
  footer .footer-end span {
    font-size: 0.75rem;
  }
}
@media (max-width: 600px) {
  .show {
    animation: none;
  }
  span, h2, p {
    opacity: 1;
  }
  .hero-wrapper.show {
    animation: none;
  }
  .offscreen-menu {
    width: min(250px, 50%);
  }
  .offscreen-menu h2 {
    margin-top: 50px;
  }
  .offscreen-menu p {
    font-size: 0.825rem;
  }
  .offscreen-menu .socials {
    display: flex;
    justify-content: space-between;
  }
  #hero-section .wrapper p {
    font-size: 1rem;
  }
  #hero-section .wrapper h1 {
    font-size: 1.75rem;
  }
  #hero-section .wrapper .btn-grp {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  #hero-section .wrapper .scroll-down {
    bottom: -20%;
  }
  #hero-section .hero-wrapper.show {
    animation: none;
  }
  #hero-section .socials {
    display: none;
  }
  #section-1 .wrapper span {
    opacity: 1;
    font-size: 0.825rem;
  }
  #section-1 .wrapper .sec-1-span.show {
    animation: none;
  }
  #section-1 .wrapper h2 {
    opacity: 1;
    margin-top: 10px;
    font-size: 2.25rem;
  }
  #section-1 .wrapper .heading-line {
    top: 13dvh;
    width: 60%;
  }
  #section-1 .wrapper p {
    opacity: 1;
    font-size: 1.25rem;
  }
  #section-1 .wrapper .stats {
    opacity: 1;
  }
  #section-1 .wrapper .stats .stat-grp .stat {
    opacity: 1;
  }
  #section-1 .wrapper .stats .stat-grp .stat h3 {
    font-size: 3.5rem;
  }
  #section-1 .wrapper .stats .stat-grp .stat p {
    margin-top: 10px;
  }
  #section-2 .wrapper h2 {
    opacity: 1;
    font-size: 1.75rem;
  }
  #section-2 .wrapper .heading-line {
    top: 33dvh;
    width: 80%;
  }
  #section-2 .wrapper span {
    opacity: 1;
  }
  #section-2 .wrapper .sec-2-span.show {
    animation: none;
  }
  #section-2 .wrapper .box {
    opacity: 1;
  }
  #section-3 .box-1 span {
    opacity: 1;
    font-size: 0.9rem;
  }
  #section-3 .box-1 .sec-3-span.show {
    animation: none;
  }
  #section-3 .box-1 h2 {
    opacity: 1;
    font-size: 1.35rem;
  }
  #section-3 .box-1 .heading-line {
    top: 255px;
    width: 80%;
  }
  #section-3 .box-2 .imgs {
    display: flex;
    flex-direction: column;
  }
  #section-3 .box-2 .imgs .col .img {
    opacity: 1;
  }
  #section-4 .wrapper span {
    opacity: 1;
  }
  #section-4 .wrapper .sec-4-span.show {
    animation: none;
  }
  #section-4 .wrapper h2 {
    opacity: 1;
    font-size: 1.75rem;
  }
  #section-4 .scroll-bar {
    opacity: 1;
  }
  #section-4 .testimonials {
    width: 80%;
  }
  #section-4 .testimonials p {
    font-size: 1rem;
  }
  #section-4 .testimonials .test p {
    padding-block-start: 20px;
  }
  #section-4 .testimonials .author {
    padding-block-start: 10px;
  }
  #section-4 .testimonials .test__1 .author {
    padding-block-start: 20px;
    padding-block-end: 50px;
  }
  #section-4 .test__bottom {
    width: 80%;
  }
  #section-5 .wrapper {
    width: 100%;
    padding-inline: 0;
  }
  #section-5 .wrapper span {
    opacity: 1;
  }
  #section-5 .wrapper .sec-5-span.show {
    animation: none;
  }
  #section-5 .wrapper h2 {
    opacity: 1;
    font-size: 2rem;
  }
  #section-5 .wrapper .contact-form {
    opacity: 1;
    width: 95%;
  }
  footer .wrapper {
    width: 80%;
  }
  footer .box-1 p {
    font-size: 1.75rem;
  }
  footer .box-2 .input-field {
    width: 100%;
  }
}